body{
    font-family: 'Inter', sans-serif;
    margin:0;

}
.head-container{
    padding: 175px 307px ; 
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),
    url(../images/head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}
p{
    font-weight: 400;
    font-size: 18px;
}
.white{
    color: white;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#FF5959, #FF5959);
    font-weight: 600;
    font-size: 20px;
    padding: 16px 12px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 5px;
}
/* section-2 */
.donation-container{
    text-align: center;
    
}
h2{
    font-weight: 700;
    font-size: 50px;
    margin-top: 130px;
    margin-bottom: 20px;
}
.money-donation-container{
    display: flex;
    justify-content: space-between;
    padding-left: 340px;
    padding-right: 340px;
    margin-bottom: 60px;
}
.paragraph{
    padding-left: 375px;
    padding-right: 375px;
    margin-bottom: 50px;
}
h3{
    padding: 45px 25px;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
    background-color: #FAFAFA;
    width: 135px;
    border-radius: 5px;
}
.red{
    font-weight: 700;
    font-size: 30px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}
input[type=text] {
    text-align: center;
    width: 40%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid #DADADA;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
::placeholder{
    color: #B3B3B3;
    
}

